<%- include('./components/head', { title: 'Service - <%= category %>' }) %>
<body class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col min-h-screen">
  <%- include('./components/header') %>

  <main class="flex-grow flex flex-col items-center justify-start text-center p-6">
    <h2 class="text-4xl font-bold text-[var(--accent)]">Catégorie: <%= category %></h2>

    <!-- Liste des Produits -->
    <div class="w-1/2 text-left">
      <h1 class="text-2xl font-bold mb-4">Liste des Produits</h1>
      <% products.forEach(product => { %>
        <div class="border-t-4 border-violet-800 p-4">
          <h2 class="text-xl font-semibold"><%= product.name %></h2>
          <p class="text-withe-600 font-bold"><%= product.description %></p>
          <p class="price font-bold">Prix : <%= product.price %>€</p>
        </div>
      <% }); %>
    </div>
  </main>

  <%- include('./components/footer') %>
</body>