<%- include('./components/head', { title: 'Service' }) %>
<body class="bg-[var(--dark-violet)] text-[var(--text-color)] flex flex-col min-h-screen">
  <%- include('./components/header') %>

  <main class="flex-grow flex flex-col items-center justify-start text-center p-6">
    <h2 class="text-4xl font-bold text-[var(--accent)]">Our products !</h2>

   <!-- Liste des Catégories -->
   <div class="w-full max-w-2xl">
    <h1 class="text-2xl font-bold text-white mb-4 text-left">Catégories</h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 gap-4">
      <% categories.forEach(category => { %>
        <a href="/service/category/<%= category %>" class="block bg-violet-800 text-white p-4 rounded-xl shadow-md text-center transition-transform transform hover:scale-105">
          <span class="text-lg font-semibold"><%= category %></span>
        </a>
      <% }); %>
    </div>
  </div>
  </main>

  <%- include('./components/footer') %>
</body>